.App {
  text-align: center;
}

.main_title{
  text-align: center;
  align-items: center;
  margin: 1;
  justify-content: center;
}

.products_autocomplete{
  width: 60%;
  margin: auto auto;
  margin-bottom: 20px;
}